@import '../../../../vars.css';
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e9ecef;
  border-radius: 50rem;
  display: flex;
  padding: 0.25rem;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-link-color);
  align-items: center;
  border-radius: 50rem;
  display: inline-flex;
  padding: 0.1666666667rem 0.7142857143rem;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: rgba(13, 110, 253, 0.1);
    .icon {
      background-color: #0d6efd;
    }
  }
}
.icon {
  width: 16px;
  height: 16px;
  background-color: #dee2e6;
  mask-size: contain;
  margin-right: 0.3333333333rem;
}
.name {
}
