.wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  align-items: center;
  background: linear-gradient(rgba(248, 249, 250, 0), #f8f9fa 42%);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
}
.btn {
  background-color: #f8f9fa;
  border: 2px solid rgba(222, 226, 230, 0.8);
  border-radius: 50rem;
  cursor: pointer;
  font-weight: 500;
  padding: 0.3333333333rem 1rem;
  position: relative;
  text-align: center;
  top: -1rem;
  transition: all 0.1s ease-in-out;
  &:hover {
    border: 2px solid rgba(13, 110, 253, 0.3);
    color: #0d6efd;
  }
}
