.btn {
  display: flex;
  font-size: 20px;
  align-items: center;
  align-items: center;
  border: 1px solid #dee2e6;
  border-radius: 50rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.1666666667rem;
  padding: 0.25rem 1rem;
  background-color: #f8f9fa;
  &:hover {
    border-color: rgba(13, 110, 253, 0.3);
    background-color: rgba(13, 110, 253, 0.05);
  }
}
.active {
}
.disabled {
  background-color: transparent;
}
.icon {
  margin-right: 0.5rem;
  mask-size: contain;
  width: 16px;
  height: 16px;
}
.label {
}

.close {
  width: 16px;
  height: 16px;
  mask-size: contain;
  background-color: #0d6efd !important;
  margin: 0 0 0 0.3333333333rem;
}
