.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26.5px 25px 20.5px 24px;
  //   border-bottom: 1px solid var(--border);
  height: 75px;
  transition: padding 0.3s;
}
.wrapRightHide {
  padding: 26.5px 80px 20.5px 24px;
}
.left {
  display: flex;
  align-items: center;
  color: var(--text);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.icons {
  display: flex;
  align-items: center;
}
.leftTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.iconItem {
  & + & {
    margin-left: 27px;
  }
  width: 24px;
  height: 24px;
  mask-size: contain;
  background-color: var(--icon);
  mask-size: contain;
}
.burgerWrap {
  width: 92px;
}
.iconBurger {
  mask-image: url(../../../../public/img/menu.svg);
  background-color: var(--primary-2);
}
.iconAdd {
  mask-image: url(../../../../public/img/add.svg);
  background-color: var(--primary-2);
}
.iconLamp {
  mask-image: url(../../../../public/img/lamp.svg);
  background-color: #f2c94c;
}
.iconFavorite {
  mask-image: url(../../../../public/img/star.svg);
}
.iconFavoriteActive {
  mask-image: url(../../../../public/img/star-fill.svg);
  background-color: #f2c94c;
}
.iconHelp {
  mask-image: url(../../../../public/img/help-circle.svg);
}
.iconBookmark {
  mask-image: url(../../../../public/img/bookmark.svg);
}
.iconOther {
  mask-image: url(../../../../public/img/other.svg);
}
.smartView {
  display: flex;
  align-items: center;
  margin-left: 23px;
}
.smartViewItem {
  & + & {
    margin-left: 5px;
  }

  width: 24px;
  height: 24px;
  mask-size: contain;
  background-color: var(--grey-text);
  mask-position: center;
}
.smartViewActive {
  background-color: var(--primary-2);
}
.smartViewGrid {
  mask-image: url(../../../../public/img/grid.svg);
}
.smartViewList {
  mask-image: url(../../../../public/img/list.svg);
}
@media (max-width: 1024px) {
  .wrap {
    height: 52px;
    padding: 10px 24px 8px 24px;
    background-color: var(--bg-1);
  }
  .left {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.984px; /* 169.92% */
  }

  .iconItem {
    & + & {
      margin-left: 10px;
    }
  }
}
.addDashboard {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-2);
  margin-left: 10px;
  position: relative;
  &::after {
    content: '';
    display: block;
    background-image: url(../../../../public/img/add.svg);
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 380px) {
  .wrap {
    padding: 10px 14px 8px 14px;
  }
  .burgerWrap {
    width: auto;
  }
}
