.wrap {
  position: relative;
  height: 100%;
  z-index: 10000;
}
.frame {
  position: absolute;
  top: -5px;
  left: -5px;
  right: 0;
  bottom: 0;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border: 2px solid var(--primary-2);
  border-radius: 5px;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
}
.wrapActive {
  & .frame {
    visibility: visible;
    opacity: 1;
  }
}
.tips {
  position: absolute;
  bottom: calc(100% + 32px);
  right: 5%;
  padding: 10px 24px;
  padding-top: 9px;
  border-radius: 8px;
  background-color: var(--primary-2);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px; /* 177.778% */
  letter-spacing: -0.36px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: 2px 2px 13px rgba(173, 0, 255, 0.51);
  visibility: hidden;
  opacity: 0;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 20px;
    background-image: url(../../../../public/img/triangle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: calc(100% - 3px);
    right: 14px;
  }
}
.tipsBottom {
  top: calc(100% + 32px) !important;
  bottom: auto;
  &:after {
    top: auto;
    bottom: calc(100% - 3px);
    transform: rotate(180deg);
  }
}
.tipsActive {
  visibility: visible;
  opacity: 1;
}
