.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.6rem 0 1rem;
}
.left {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.stars {
  background-color: #f8f9fa;
  border-radius: 50rem;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 10px 14px 11px;
}
.starEmpty {
  background-image: url('../../../../../public/img/rating-star-empty.svg');
}
.starFull {
  background-image: url('../../../../../public/img/rating-star-full.svg');
}
.starHalf {
  background-image: url('../../../../../public/img/rating-star-half.svg');
}
.star {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 20px;
  width: 20px;
}
.box {
  line-height: 1.5;
  margin: 0 0 0 12px;
}
.rating {
  font-size: 14px;
  font-weight: 600;
  & span {
    font-weight: 400;
  }
}
@media (max-width: 591px) {
  .rating {
    & span {
      display: none;
    }
  }
  .link {
    font-size: 14px;
  }
}
.count {
  color: #6c757d;
  font-weight: 400;
  font-size: 14px;
}
.link {
  text-decoration-color: rgba(13, 110, 253, 0.3) !important;
  color: var(--bs-link-color);
  text-decoration: underline;
  margin: 0 0.5rem;
}
