.empty {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  padding: 5.5rem 1.5rem;
  width: 100%;
}
.clearCart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  white-space: nowrap;
  margin: 0 auto;
  color: #6c757d;
  font-size: 0.875rem;
  text-decoration: none;
  margin: 2rem auto;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.emptyImage {
  margin: 0.5rem 0;
  width: 130px;
}
.emptyTitle {
  font-weight: 500;
  margin: 1rem 0;
}
.emptyText {
  color: #6c757d;
  margin: 0 1rem;
  text-align: center;
  & a {
    text-decoration-color: rgba(13, 110, 253, 0.3) !important;
    color: var(--bs-link-color);
    text-decoration: underline;
  }
}
