.title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: calc(1.325rem + 0.9vw);
}
.block {
  width: 100%;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
