.wrap {
  border: 0 solid #e2e8f0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 24px;
}
.title {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.text {
  margin: 0 1rem;
  & a {
    text-decoration: none;
    color: #085edc;
  }
  color: #6c757d;
}
.img {
  margin: 2rem;
  width: 130px;
}
