.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.overlayActive {
  visibility: visible;
  opacity: 1;
}
.modalActive {
  visibility: visible !important;
  opacity: 1 !important;
}
.modal {
  z-index: 1100;
  display: grid;
  grid-template-columns: 212px 1fr;
  column-gap: 48px;
  width: 100%;
  max-width: 768px;
  height: 100%;
  max-height: calc(100vh - 48px);
  background: var(--bg-1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  box-shadow: 0px 33px 32px -16px rgba(0, 0, 0, 0.1), 0px 0px 32px 4px rgba(0, 0, 0, 0.04);
  padding: 48px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  & * {
    font-family: 'Inter';
  }
}
.content {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
