.item {
  user-select: none;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
  &:hover {
    border: 1px solid rgba(13, 110, 253, 0.5);
  }
}
.disabled {
  background-color: rgba(233, 236, 239, 0.3);
  border: 1px solid #e9ecef;
  filter: grayscale(1);
  opacity: 0.4;
  pointer-events: none;
}
.active {
  position: relative;
  background-color: rgba(13, 110, 253, 0.1);
  border: 1px solid rgba(13, 110, 253, 0.5);
  &::after {
    content: '';
    position: absolute;
    display: block;
    mask-image: url(../../../../../public/img/check.svg);
    width: 16px;
    height: 16px;
    mask-size: contain;
    background-color: #0d6efd;
    right: 6px;
    top: 6px;
    visibility: visible;
    opacity: 1;
    transition: all 0.1s ease-in-out;
  }
}
.icon {
  width: 30px;
  height: 30px;
  margin-bottom: 0.25rem;
}
.name {
  font-size: 0.875rem;
}
.comission {
  color: #6c757d;
  font-size: 0.65rem;
  text-align: center;
}
