.wrap {
  height: calc(100vh - var(--nav-h) - 52px);
  display: grid;
  grid-template-rows: auto 1fr;
}
.list {
  padding: 24px;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}
.tab {
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 24px;
  border: 1px solid var(--text-2);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.28px;
  color: var(--text-2);
}

.tabActive {
  background-color: var(--text-2);
  color: var(--bg-card);
}
.content {
}
