.item {
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 0.375rem;
  display: flex;
  padding: 8px 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    border: 1px solid rgba(13, 110, 253, 0.3);
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    mask-image: url(../../../../../public/img/check.svg);
    width: 16px;
    height: 16px;
    mask-size: contain;
    background-color: #0d6efd;
    right: -0.5rem;
    top: 0.4rem;
    margin: 0 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-in-out;
  }
}
.noClick {
  cursor: auto;
  &:hover {
    border: 1px solid #e9ecef !important;
  }
}
.disabled {
  cursor: auto;
  &:hover {
    border: 1px solid #e9ecef !important;
  }
  filter: grayscale(1);
  opacity: 0.2;
}
.itemActive {
  background-color: rgba(13, 110, 253, 0.05);
  &::after {
    visibility: visible;
    opacity: 1;
  }
}
.outStock {
  background-color: rgba(13, 110, 253, 0.7);
  border-radius: 0.375rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon {
  margin-right: 0.6666666667rem;
  object-fit: contain;
  width: 50px;
  height: 50px;
}
.content {
}
.name {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.1rem;
}
.price {
  display: flex;
  align-items: center;
  justify-content: start;
}
.priceCurrent {
}
.priceCurrentRed {
  color: #dc3545;
}
.priceDiscount {
  margin-left: 0.25rem;
  background-color: rgba(220, 53, 69, 0.1);
  border-radius: 0.375rem;
  color: #dc3545;
  font-size: 0.875rem;
  padding: 0 0.5rem;
  text-decoration: line-through;
}
.outStock {
}
