.wrap {
  padding: 20px 16px 0 24px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.line {
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .wrap {
    background-color: var(--bg-1);
  }
}
