.wrap {
  width: 220px;
  height: 110px;
  border-radius: 0.5rem;
  text-decoration: none !important;
  display: flex;
  align-items: end;
  position: relative;
  background-position: 50% 50%;
  background-size: contain;
  &:hover {
    &::after {
      visibility: visible;
      opacity: 1;
    }
  }
  &::after {
    transition: all 0.1s;
    content: '';
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(256, 256, 256, 0.1);
  }
}

.text {
  bottom: 10px;
  color: #fff;
  font-size: 0.875rem;
  margin-left: 14px;
  line-height: 1.2rem;
  margin-bottom: 10px;
}
