.wrap {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 100vh;
}
.left {
  background-color: var(--bg-1);
}
.right {
  padding: 40px 24px 25px;
  background-color: var(--bg-4);
}
.title {
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 60% */
  letter-spacing: -0.8px;
  color: var(--primary-2);
  margin-bottom: 80px;
  text-align: center;
}
.logo {
  display: block;
  width: 120px;
  object-fit: contain;
  margin: 100px auto 28px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: var(--grey-text);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  letter-spacing: -0.4px;
  &:first-child {
    &::after {
      content: ' |';
      margin-right: 4px;
    }
  }
}
