.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1.5rem;
}
@media (min-width: 444px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
@media (max-width: 444px) {
  .list {
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
