.list {
  padding: 24px 16px 24px 24px;
  height: 100%;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.itemActive {
  background-color: var(--bg-1);
}
.item {
  user-select: none;
  cursor: pointer;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 15px 8px;
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.32px;
  transition: background-color 0.3s;
  &::before {
    content: '';
    display: block;
    mask-image: url(../../../../public/img/chat.svg);
    background-color: var(--text);
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}

.group {
  color: var(--grey-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
  margin-bottom: 20px;
  margin-top: 24px;
  &:first-of-type {
    margin-top: 0;
  }
}
