.wrap {
  background-color: #f8f9fa;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  padding-bottom: 10px;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.headLeft {
  display: inline-block;
}
.status {
  align-self: flex-start;
  padding-left: 0.5rem;
}
.headLink {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-decoration-color: rgba(13, 110, 253, 0.3) !important;
  color: var(--bs-link-color);
  text-decoration: underline;
  margin-right: 0.5rem;
  cursor: pointer;
  user-select: none;
}
.headDate {
  display: inline;
  color: #6c757d;
  font-size: 14px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  display: flex;
  align-items: center;
}
.item {
  position: relative;
  margin: 0.25rem;
  & img {
    width: 100%;
    border-radius: 50rem;
    height: 42px;
    width: 42px;
  }
}
.price {
  font-size: 1.25rem;
  font-weight: 600;
}
.priceBox {
  display: flex;
  align-items: center;
}
.btnPrice {
  font-size: 0.875rem;
  border: 2px solid rgba(25, 135, 84, 0.3);
  border-radius: 50rem;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  color: #198754;
  font-weight: 500;
  margin-left: 0.5rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  user-select: none;
  &:hover {
    color: #198754;
    background-color: rgba(25, 135, 84, 0.1);
  }
}
