.wrap {
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
}
.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.25rem 0 0.5rem;
}
.price {
  font-size: 1.77rem;
  font-weight: 600;
  margin: 0.25rem 0 0.5rem;
}
.status {
}
.game {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameIcon {
  border-radius: 50rem;
  height: 24px;
  margin-right: 0.5rem;
  width: 24px;
}
.gameName {
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.tag {
  display: flex;
  border: 1px solid #e9ecef;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  display: inline-flex;
  flex-direction: row;
  font-size: 0.875rem;
  margin: 0.2rem;
  padding: 0 0.5rem;
}
.tagLabel {
  color: #6c757d;
  margin-right: 0.5rem;
}
.tagValue {
}
.btnBox {
  width: min-content;
  margin-bottom: 1rem;
}
