.wrap {
  max-width: 600px;
  margin: 0 auto;
}
.title {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}
.block {
  background-color: #f8f9fa;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  padding: 1.5rem;
}
.text {
}
.subtitle {
  font-weight: 500;
  margin: 1rem;
  text-align: center;
  margin-top: 2rem;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.coop {
  color: #6c757d;
  font-size: 0.875rem;
  margin: 2rem 0;
  text-align: center;
}
.item {
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 50rem;
  display: flex;
  justify-content: center;
  margin: 0.25rem;
  min-width: 220px;
  padding: 0.3333333333rem 1rem;
  text-align: center;
  white-space: normal;
  text-decoration-color: rgba(13, 110, 253, 0.3) !important;
  color: var(--bs-link-color);
  text-decoration: underline;
}
