.wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  background-color: var(--bg-1);
}

.left {
  position: relative;
}
.right {
  padding: 16px 25px 16px 0;
}
@media (max-width: 1024px) {
  .wrap {
    grid-template-columns: 1fr;
    padding-bottom: var(--nav-h);
  }
  .left {
    order: 2;
  }
  .right {
    padding: 0;
    order: 1;
  }
}
