.wrap {
  background-color: #f8f9fa;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.03);
  margin-bottom: 1rem;
  position: relative;
  padding: 12px 0;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
}
.logo {
  height: 29px;
  width: 160px;
}
