.item {
  border: 1px solid #e9ecef;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 0;
  text-align: center;
  transition: all 0.1s ease-in-out;

  &:nth-child(1) {
    border-color: rgba(181, 134, 154, 0.4);
    &:hover {
      border-color: rgba(181, 134, 154, 0.8);
    }
  }
  &:nth-child(2) {
    border-color: rgba(125, 175, 196, 0.4);
    &:hover {
      border-color: rgba(125, 175, 196, 0.8);
    }
  }
  &:nth-child(3) {
    border-color: rgba(74, 110, 162, 0.4);
    &:hover {
      border-color: rgba(74, 110, 162, 0.8);
    }
  }
  &:nth-child(4) {
    border-color: hsla(22, 47%, 68%, 0.4) !important;
    &:hover {
      border-color: hsla(22, 47%, 68%, 0.8) !important;
    }
  }
}
.last {
}
