.wrap {
  margin-bottom: 0.5rem;
  background-color: #e9ecef;
  padding: 1rem 1rem;
  border-radius: 0.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date {
  font-size: 14px;
  margin-right: 1rem;
  font-size: 0.875rem;
  color: #6c757d;
}
.sum {
  margin-right: auto;
  font-weight: 500;
}
.text {
  font-size: 14px;
}
