.item {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  color: var(--bs-link-color);
  &:hover .tag {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.box {
  position: relative;
  background-position: 50% 50%;
  background-size: contain;
  // width: 230px;
  // height: 230px;
  // min-width: 230px;
  // min-height: 230px;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem !important;
  margin-bottom: 0.3333333333rem;
}
.icon {
  background-color: #f8f9fa;
  border-radius: 50rem;
  display: flex;
  padding: 0.25rem;
  width: 22px;
  height: 22px;
  left: 0.5rem;
  position: absolute;
  top: 0.5rem;
  z-index: 2;
  &::after {
    content: '';
    background-color: #ffc107;
    width: 14px;
    height: 14px;
    mask-size: contain;
    mask-image: url(../../../../../public/img/lightning.svg);
  }
}
.country {
}
.countryIcon {
}
.countryName {
}
.tag {
  bottom: 0.625rem;
  left: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50rem;
  color: #fff;
  display: flex;
  font-size: 0.875rem;
  padding: 0.1666666667rem 0.8333333333rem 0.1666666667rem 0.5rem;
  transition: all 0.1s ease-in-out;
}
.tagIcon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
.tagName {
}
.name {
  display: block;

  text-align: center;
  margin: 0 auto;
}
